.ColorBox {
    height: 25%;
    width: 20%;
    display: inline-block;
    position: relative;   
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: -3.7px;
}

.SinglePalette-colors .ColorBox{
    height: 50%;
}

.go-back{
    background: black;
}

.ColorBox-name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-transform: uppercase;
    padding: 6px;
    font-size: 1rem;
}

.copy-button, .back-button{
    position: absolute;
    width: 100px;
    height: 30px;
    margin-right: -50px;
    margin-top: -15px;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    top: 50%;
    right: 50%;
    font-size: 15px;
    text-decoration: none;
}
.copy-button{
    opacity: 0;
}

.back-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.see-more{
    position: absolute;
    width: 70px;
    line-height: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    bottom: 0;
    right: 0;
    font-size: 15px;
    text-align: center;
}

.dark-text{
    color: black;
}

.white-text{
    color: white;
}

.ColorBox:hover .copy-button{
    opacity: 1;
    transition: 0.5s;
}
